@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,300&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100;1,400;1,700&display=swap');


:root{
    --primary :#090580;
    --secondary :#0c134f;
    --dark: #06283d;
    --white:#fff;
    --gray:#DBE2EF;
}

